.header-donor {
  display: none;
}

.footer-donor {
  display: none;
}

.registration {
  padding: 30px 30px;
}

.registration-left {
  &__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__box {
    display: none;
  }
}

.registration-right {
  &__box {
  }

  &__title {
    @include fontPreset(900, 28px, 29px, 0.02em);
    color: black;
    display: flex;
    justify-content: center;

    margin-bottom: 10px;
  }

  &__text {
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
  }

  &__link {
    padding-left: 3px;
    color: #366dd9;
  }

  &__span {
    text-transform: uppercase;

    display: flex;
    align-items: center;
    color: #8c98a4;
    margin-bottom: 20px;

    &::before {
      flex: 1 1 0%;
      border-top: 0.6px solid #8c98a4;
      content: "";
      margin-right: 10px;
    }

    &::after {
      flex: 1 1 0%;
      border-top: 0.6px solid #8c98a4;
      content: "";
      margin-left: 10px;
    }
  }
}

.registration-form {
  &__field {
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;

    position: relative;

    width: 100%;
  }

  &__label {
    @include fontPreset(400, 14px, 14px, 00.01em);
    color: black;

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  &__input {
    @include transitionBase(border-color);

    padding: 11px 20px;

    height: 40px;
    width: 100%;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    &:focus {
      outline: none;
      border-color: $accent-color;
    }
  }

  &__text {
    @include fontPreset(400, 12px, 14px, 0.03em);
    margin-bottom: 20px;
  }

  &__button {
    @extend %button;

    padding: 10px 32px;
    margin: 0 auto;
    display: block;
    text-align: center;
    min-width: 216px;

    background-color: $accent-color;
    color: $white-color;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border: 2px solid transparent;

    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    &:focus,
    &:hover {
      background-color: $white-color;
      color: $accent-color;
      border: 2px solid $accent-color;
    }
  }
}

@media screen and(min-width: 1000px) {
  .registration {
    &__container {
      display: flex;
    }
  }

  .registration-left {
    &__logo {
      margin-bottom: 0;
    }

    &__box {
      display: block;
    }
  }
}
